<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         cacheDirectory=".phpunit"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile=".phpunit/clover.xml" />
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix="Test.php">src</directory>
      <directory>src/Testing</directory>
      <!-- The make command is not part of code that will actually run in projects, it's merely a dev tool -->
      <directory suffix="AbilityMakeCommand.php">src</directory>
    </exclude>
  </source>
  <testsuites>
    <testsuite name="laravel-abilities">
      <directory suffix="Test.php">src/</directory>
    </testsuite>
  </testsuites>
</phpunit>
